<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>koa 首页</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" type="text/css">
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<img src="/public/uploads/929edcc4a2dc6fba143aecb8f1e43dd9" class="img-responsive">

    <div class="text-center">
        <form id="mongodbForm" action="/toMongoDB" method="get">
        <button id="mongodb" class="btn btn-default">mongodb test</button>
        </form>
    </div>

    <div class="text-center">
        <form id="chatForm" action="/io" method="get">
            <button id="chartsubmit" class="btn btn-default">chat with GM</button>
        </form>
    </div>

<h1>get start</h1>
<form action="/getpp/1/3" method="get">
    <input type="text" name="name">
    <input type="text" name="pwd">

    <input type="submit" name="提交">
</form>
<h1>get end</h1>
<br/>
<br/>
<h1>post start</h1>
<form action="/postpp" method="post">
    <input type="text" name="name">
    <input type="text" name="pwd">
    <input type="submit" name="提交">
</form>
<h1>post end</h1>

<br/>
<br/>

<h1>file update start</h1>
<form id="formddata" action="/fileUpdate" method="post" enctype="multipart/form-data">
    <input type="text" name="name" id="name">
    <input type="text" name="pwd">
    <input type="file" name="file" multiple id="file">
    <input type="file" name="file2" multiple id="avatar2">
    <input id="submit" type="submit" value="submit">
</form>
<h1>file update end</h1>

</div>

</body>
<script type="text/javascript">
    $(document).ready(function(){

        $('#mongodb').click(function(){
          $('#mongodbForm').submit();
        });
        $('#chartsubmit').click(function(){
            $('#chatForm').submit();
        });
//        $("#submit").click(function(){
//            var formData = new FormData();
//            formData.append('file', $('#file')[0].files[0]);
//            formData.append('name',$('#name').val());
//            console.log($('#file')[0].files[0]);
//            $.ajax({
//                url: '/fileUpdate',
//                type: 'POST',
//                cache: false,
//                data: formData,
//                processData: false,
//                contentType: false
//            }).done(function(res) {
//                alert(res);
//            }).fail(function(res) {
//                alert(res);
//            });
//        });
    });
</script>
</html>